nonebot2[fastapi]==2.4.4
nonebot-adapter-onebot==2.4.6
nonebot-plugin-apscheduler==0.5.0
fastapi==0.135.2
uvicorn==0.42.0
beautifulsoup4==4.14.3
rapidfuzz==3.14.3
silk-python==0.2.8
numpy==2.4.3
onnxruntime==1.24.4
Pillow==12.1.1
huggingface-hub==1.7.2
PyYAML==6.0.3
